# テストデータ生成

- `KEY`列: アルファベット大小混合ランダム3文字 + 数字ランダム5文字
- `X`列: アルファベット大小混合ランダム10文字
- `Y`列: 数字ランダム10文字

In [1]:
import random, string

# KEY列の文字列を生成
def get_key():
    alp = random.choices(string.ascii_letters, k=3)
    dig = random.choices(string.digits, k=5)
    return ''.join(alp + dig)

# X列の文字列を生成
def get_x():
    alp = random.choices(string.ascii_letters, k=10)
    return ''.join(alp)

# Y列の文字列を生成
def get_y():
    dig = random.choices(string.digits, k=10)
    return ''.join(dig)

PandasのDataFrameに格納し、CSVデータとして出力。

In [2]:
import pandas as pd
import os

data_num = 20
filename = os.path.join('dest', 'data.csv')
df = pd.DataFrame(columns=['KEY', 'X', 'Y'])

for i in range(data_num):
    series = pd.Series([get_key(), get_x(), get_y()], index=df.columns)
    df = df.append(series, ignore_index=True)

df = df.sort_values('KEY')

In [3]:
df[:10]

         KEY           X           Y
1   Evq11903  GqYQlbMZUm  2915987069
8   FXD54644  rrCQssgVRv  5983176907
11  HgN96034  MQBaxzjVYz  0212339142
3   Jxw22845  KtmUcEGyVF  9167577202
16  Kfx68301  UKJBiKrbuU  9231769272
17  Luw53224  NrJHTFlCWt  1102752979
2   SAo73250  JnHsUTRNot  5959341881
19  TFI89723  qoysZPJWDg  0684218327
5   Wum48275  swPUZSNNpv  9321578942
0   ZQy21414  ERNnaGakaf  7608839475

In [4]:
df.to_csv(path_or_buf=filename, index=False)